{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee information</title>
    <link rel="stylesheet" href ="{% static "Employee_details/styles.css" %}">
    <link rel="stylesheet" href ="{% static "Employee_details/styles.css" %}">

</head>
<body>

    <form action="" method="POST">
        {% csrf_token %}
        <h2>Add Employee:</h2>
        <div class = "form-control">
        {{form.as_p}}
        <button type="submit">Update</button>    
        </div>
    </form>

</div class = "form-control">

   <table >     

    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>location</th>
        <th>Salary</th>
        <th>Department</th>
        <th>Action</th>
    </tr>
    {% for em  in emp  %}
        <tr>
        <td></strong>{{ em.employee_firstname}}</strong></td>
        <td>{{ em.employee_lastname}}</td>
        <td>{{ em.employee_location}}</td>
        <td>{{ em.employee_salary}}</td>
        <td>{{ em.employee_department}}</td>
        <td>
        
        <a href = "{% url 'updatedata' em.id %}" class = "button">Edit</a>
        <p></p>
        <form action="{% url 'deletedata' em.id %}" method = "POST" class = "delete">{% csrf_token %}
        <input type = "submit" class = "button" value = "Delete" onclick="return confirm('Are you sure you want to delete this?')"/>


        
        </form>
        </td>






        </tr>
        
    {% endfor %}
   </table>     

<div>


</body>
</html>